In [2]:
import pandas as pd

| Campo                          | Descrição                                                  |
| ------------------------------ | ---------------------------------------------------------- |
| Transaction unique identifier  | Identificador único da transação                           |
| Price                          | Preço da propriedade                                       |
| Date of Transfer               | Data da transferência da propriedade                       |
| Property Type                  | Tipo de propriedade (por exemplo, casa, apartamento, etc.) |
| Old/New                        | Indica se a propriedade é nova ou antiga                   |
| Duration                       | Duração do contrato de propriedade (por exemplo, arrendamento, propriedade total) |
| Town/City                      | Cidade ou município onde a propriedade está localizada     |
| District                       | Distrito onde a propriedade está localizada                |
| County                         | Condado onde a propriedade está localizada                 |
| PPDCategory Type               | Tipo de categoria de dados da PPD (Public Price Data)      |
| Record Status - monthly file only | Status do registro (apenas em arquivos mensais)          |

In [3]:
for i, chunck in enumerate(pd.read_csv('./price_paid_records.csv', chunksize=2000000)):
    chunck.to_parquet(f'output_chunck_{i}.parquet')
    if i == 0:
        break

In [4]:
df = pd.read_parquet('./output_chunck_0.parquet')
df

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...
199995,{B14C137B-36C5-4CFE-84BB-27A5083BBA35},56500,1995-04-13 00:00,F,Y,L,LEAMINGTON SPA,WARWICK,WARWICKSHIRE,A,A
199996,{66218F52-7DFC-4364-A853-27A50FA9504F},189950,1995-08-23 00:00,F,Y,L,EAST MOLESEY,ELMBRIDGE,SURREY,A,A
199997,{8D5B9875-CF83-404D-B907-35EDF32A9E6A},89250,1995-12-18 00:00,T,N,F,LONDON,HACKNEY,GREATER LONDON,A,A
199998,{99575A00-E5B8-44EA-9A5A-35EDF973500C},52000,1995-12-05 00:00,S,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A
199999,{3D92EE5C-1721-4E34-ADA4-35EE01314B6B},46500,1995-05-05 00:00,T,N,L,SWINDON,THAMESDOWN,THAMESDOWN,A,A