In [1]:
import pandas as pd

| Campo                          | Descrição                                                  |
| ------------------------------ | ---------------------------------------------------------- |
| Transaction unique identifier  | Identificador único da transação                           |
| Price                          | Preço da propriedade                                       |
| Date of Transfer               | Data da transferência da propriedade                       |
| Property Type                  | Tipo de propriedade (por exemplo, casa, apartamento, etc.) |
| Old/New                        | Indica se a propriedade é nova ou antiga                   |
| Duration                       | Duração do contrato de propriedade (por exemplo, arrendamento, propriedade total) |
| Town/City                      | Cidade ou município onde a propriedade está localizada     |
| District                       | Distrito onde a propriedade está localizada                |
| County                         | Condado onde a propriedade está localizada                 |
| PPDCategory Type               | Tipo de categoria de dados da PPD (Public Price Data)      |
| Record Status - monthly file only | Status do registro (apenas em arquivos mensais)          |

In [3]:
for i, chunk in enumerate(pd.read_csv('price_paid_records.csv', chunksize=2000000)):
    
    chunk.to_parquet(f'output_chunk_{i}.parquet')

In [6]:
for i, chunk in enumerate(pd.read_csv('price_paid_records.csv', chunksize=2000000)):
    chunk.to_parquet(f'output_chunk_{i}.parquet')
    if i == 0:
        break

In [4]:
df = pd.read_parquet('parquet/output_chunk_0.parquet')

In [5]:
df

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...
1999995,{D1135388-975C-4DF3-A8B1-5CFE66DDECFA},44000,1997-11-12 00:00,T,N,F,READING,READING,READING,A,A
1999996,{51AC3E99-2B8B-40DB-8C07-5CFE6A9A5FC9},51000,1997-01-17 00:00,F,N,L,HOVE,HOVE,EAST SUSSEX,A,A
1999997,{CB81DDE7-FB55-42A3-B22D-5CFEA2E4FBBB},220000,1997-10-15 00:00,S,Y,F,LONDON,TOWER HAMLETS,GREATER LONDON,A,A
1999998,{12DA0FA0-1BF0-46E1-889A-6B31A9DF8E2F},44500,1997-03-17 00:00,T,N,F,TORQUAY,TORBAY,TORBAY,A,A
1999999,{19361FC2-D499-4CC5-AFD4-6B31BA3EFF04},72500,1997-11-27 00:00,T,N,F,WICKFORD,BASILDON,ESSEX,A,A